<div class="row">
  <div class="col s10 push-s1">
    <br>
    <%= form_for @user, url: "/sessions", method: "post" do |f| %>
      <%= render partial: "layouts/sign_in", locals: { f: f } %>
    <%= f.submit "Log In", class:'btn'%>
    <% end %>
  </div>
</div>
