/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
@import "materialize";
@import "materialize/extras/nouislider";

body{
  font-family: avenir;
  color: black;
}
nav {
  background-color: white;
  box-shadow: none;
}
nav ul a {
  color: black
}
.title {
  font-family: "Times New Roman", Georgia, Serif;
  font-weight: bold;
  font-style: italic;
}
.post-title-color {
  color: #6a0000;
}
.modal-content{
  color: black
}
.btn-post {
  background-color: #282828 !important;
  color: white !important;
  width: 100%;
}
.flashmessage {
  border-style: solid;
  border-color: black;
  background-color: rgba(255, 0, 0, 0.2);
  font-size: 120%;
  text-align: center;
  margin-top: 2%;
  padding: 2%
}
// #toast-container{
//   top: auto !important;
//   right: auto !important;
//   top: 10%;
//   left: 35%;
// }

#sign_in_form{
  padding: 0px;
  margin-top: -10%;
}
.sign_in_div{
  padding: 0px;
}
// with fixed navbar ensuring that the side panel shows up on click on mobile
#sidenav-overlay{
  z-index: 996
}

// PAGINATION CSS - https://stackoverflow.com/questions/26615157/pagination-kaminari-no-css-applyed
.pagination a, .pagination span.current, .pagination span.gap {
    // float: left;
    // padding: 0 14px;
    // line-height: 38px;
    text-decoration: none;
    color: black;
    // border: 1px solid #DDD;
    // border-left-width: 0;
}

.pagination_page_info {
  padding-bottom: 2%
}
