// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  text-align: center;
  padding: 0 15%;
  margin-bottom: 40px;
}
.text-shadow {
  text-shadow: 1px 1px 5px black;
}
.card {
  background-image: no-repeat;
  background-size: 100% 100%;
}
.card .card-content {
  height: 500px;
}
.card-content {
  text-align: center;
}
.btn-card {
  color: white;
  border: white solid 1px;
  padding: 10px;
}
// SHOW PAGE
.jumbotron {
  width: 100%;
}
.btn-loc-card {
  color: black;
  border: black solid 1px;
  padding: 10px;
}
.parallax-img {
  width: 100%;
}
.btn-inline {
  float: left;
  margin: 0 0.3em;
}
.btn-2 {
  margin: 0.3em 0.3em !important;
}
.title-height {
  font-size: 18px;
}
