// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-show-wht {
  background-color: white;
  margin: 0.75rem;
}
