// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wht-cont {
  background-color: white;
  margin-top: 70vh;
  margin-bottom: 5vh;
}
#bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  -webkit-background-size: cover;
  width: 100vw;
}
.circle {
  background-color: white;
  height: 100px;
  width: 100px;
}
.prof-image {
  position: absolute;
  margin-top: 60vh;
  left: 16%;
  z-index: 1;
}
.prof-description {
  padding-top: 40px;
}
.post-title {
  text-align: center;
}
.post-image {
  width: 100%;
}
.btn {
  background-color: #282828 !important;
  color: white !important;
  margin: 0.3em 0;
}

.div-inline {
  display:inline-block;
}
.btn-red {
  background-color: #6a0000 !important;
  color: white !important;
  margin: 0.3em 0;
}
.btn-width {
  width: 100%;
}
