<div class="jumbotron" id="tagline" style="border: black solid 2px; height: 400px">
   <h1>HEADER JUMBO</h1>
   </div>
<% @locations.each do |location| %>
<%= link_to "#{location.city}", location_path(location.id) %><br>
<% end  %>
