<h5>Sign-in</h5>
<div class="sign_in_div">
  <!-- <%= f.label :email, id:'sign_in_form'%> -->
  <%= f.email_field :email, placeholder:"EMAIL"%>
</div>
<div class="sign_in_div">
  <!-- <%= f.label :password, id:'sign_in_form'%> -->
  <%= f.password_field :password, placeholder:"PASSWORD", id:'sign_in_form'%>
</div>
